<section id="perks" class="">
  <div class="perks">
    <div class="container" data-aos="zoom-in">
      <h2 class="text-center pb-0 pb-md-4" style="color: antiquewhite; font-size:30px">Job Perks</h2>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-10 text-center">

          <p class="text-center" style="color: antiquewhite;"> With STS, you are a valued member of a team, and your teammates are here to support you!
            We offer competitive pay rates, one-on-one guidance, and effective professional development
            to ensure that our staff members are engaged and effective.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="container-fluid p-0 m-0 col-12 col-sm-12 col-md-13 col-lg-12 col-xl-12 container-box Services" id="job">
  <span class="foreground-box">
    <div class="row col-12 p-0 m-0">
      <label class="col-12 d-flex justify-content-center align-items-center pt-5 mt-5">
        <h1> Available Jobs </h1>

      </label>

    </div>

    <div class="container col-12 col-md-10 py-3">

      <div class="row d-flex justify-content-center align-items-center">

        <div class="col-12 col-md-11 orderParaTwo pb-0 pb-md-4">

          <p class="text-justify py-4">
            Become a Substitute Teacher with Sub Teacher Source
            Earn up to $190 per day!
            100 Immediate openings available now in Wayne County, MI
            Locations: Detroit, Dearborn, Westland, Garden City, Redford, Lincoln Park, Hamtramck, Highland Park, Flat
            Rock, Harper Woods
            We are looking for candidates who are dedicated to the educational growth of our young students of today. If
            you love helping students grow and learn, substitute teaching may be for you.
            We offer flexible working schedules during the school’s calendar year. Our subs will have access to our
            online scheduling system where they can virtually accept assignments and track their work history.
            Sub Teacher Source follows (minimum) the State of Michigan guidelines for Substitute Teaching.
          </p>
        </div>
      </div>
    </div>
  </span>
</div>

<div class="container-fluid p-0 m-0 col-12 col-sm-12 col-md-13 col-lg-12 col-xl-12 container-box Services" id="req">
  <span class="foreground-box">
    <div class="row col-12 p-0 m-0">
      <label class="col-12 d-flex justify-content-center align-items-center pt-5 mt-5">
        <h2> Requirements </h2>

      </label>

    </div>

    <div class="container col-12 col-md-10 py-3">

      <div class="row d-flex justify-content-center align-items-center">

        <div class="col-12 col-md-11 orderParaTwo pb-0 pb-md-4">

          <p class="text-justify py-4">
            STS ensures that all federal and state clearances required to work within a school district are obtained. Requirements vary from state to state, 
            although most states require a criminal background screening (Some require upfront fees) and the ability to provide official verification of the 
            minimum education requirements for that state or school district, whichever may apply.  Candidates with a deep desire to teach at the K-12 level 
            and those who have a background working with youth in other capacities are well suited to work as a substitute teacher.  
            While we allow a degree of flexibility, STS does expect for our substitutes to commit to accepting assignments on a regular basis.
          </p>
        </div>
      </div>
    </div>
  </span>
</div>

<div class="container-fluid p-0 m-0 col-12 col-sm-12 col-md-13 col-lg-12 col-xl-12 container-box Services" id="apply">
  <span class="foreground-box">
    <div class="row col-12 p-0 m-0">
      <label class="col-12 d-flex justify-content-center align-items-center pt-5 mt-5">
        <!-- <label class="col-12 d-flex justify-content-center align-items-center "> -->
          <a href="https://isscompanies.oorwin.com/careers/index.html#/job/6c1e671f9af5b46d9c1a52067bdf0e53685674f7?share=4"
            target="_blank" class="buttonLink">
            Apply Now
          </a>
        <!-- </label> -->
      </label>

    </div>

    <!-- <div class="container col-12 col-md-10 py-3">

      <div class="row d-flex justify-content-center align-items-center">

        <div class="col-12 col-md-11 orderParaTwo pb-0 pb-md-4">

          <p class="text-justify py-4">
            Become a Substitute Teacher with Sub Teacher Source
            Earn up to $190 per day!
            100 Immediate openings available now in Wayne County, MI
            Locations: Detroit, Dearborn, Westland, Garden City, Redford, Lincoln Park, Hamtramck, Highland Park, Flat
            Rock, Harper Woods
            We are looking for candidates who are dedicated to the educational growth of our young students of today. If
            you love helping students grow and learn, substitute teaching may be for you.
            We offer flexible working schedules during the school’s calendar year. Our subs will have access to our
            online scheduling system where they can virtually accept assignments and track their work history.
            Sub Teacher Source follows (minimum) the State of Michigan guidelines for Substitute Teaching.
          </p>
        </div>
      </div>
    </div> -->
  </span>
</div>


<div class="container-fluid p-0 m-0 col-12 col-sm-12 col-md-13 col-lg-12 col-xl-12 container-box Services job">
  <span class="foreground-box">
    <div class="row col-12 p-0 m-0">
      <label class="col-12 d-flex justify-content-center align-items-center pt-5 mt-5">
        <!-- <h2> Requirements </h2> -->

      </label>

    </div>

    <div class="container col-12 col-md-10 py-3">

      <div class="row d-flex justify-content-center align-items-center">

        <div class="col-12 col-md-11 orderParaTwo pb-0 pb-md-4">

          <p class="text-justify py-4">
            Become a Substitute Teacher with Sub Teacher Source Earn up to $145 per day! 
            100 Immediate openings available now in Oakland County, MI Locations: Pontiac, 
            Waterford, Southfield, Hazel Park, Oak Park We are looking for candidates who are 
            dedicated to the educational growth of our young students of today. If you love helping 
            students grow and learn, substitute teaching may be for you. We offer full time and part 
            time work during the school’s calendar year. Our subs will have access to our online 
            scheduling system where they can virtually accept assignments and track their work history. 
            Sub Teacher Source follows (minimum) the State of Michigan guidelines for Substitute Teaching.
          </p>
        </div>
      </div>
    </div>
  </span>
</div>

<div class="container-fluid p-0 m-0 col-12 col-sm-12 col-md-13 col-lg-12 col-xl-12 container-box Services req">
  <span class="foreground-box">
    <div class="row col-12 p-0 m-0">
      <label class="col-12 d-flex justify-content-center align-items-center pt-5 mt-5">
        <h2> Requirements </h2>
      </label>

    </div>

    <div class="container col-12 col-md-10 py-3">

      <div class="row d-flex justify-content-center align-items-center">

        <div class="col-12 col-md-11 orderParaTwo pb-0 pb-md-4">

          <p class="text-justify py-4">
            Become a Substitute Teacher with Sub Teacher Source
            Earn up to $190 per day!
            100 Immediate openings available now in Wayne County, MI
            Locations: Detroit, Dearborn, Westland, Garden City, Redford, Lincoln Park, Hamtramck, Highland Park, Flat
            Rock, Harper Woods
            We are looking for candidates who are dedicated to the educational growth of our young students of today. If
            you love helping students grow and learn, substitute teaching may be for you.
            We offer flexible working schedules during the school’s calendar year. Our subs will have access to our
            online scheduling system where they can virtually accept assignments and track their work history.
            Sub Teacher Source follows (minimum) the State of Michigan guidelines for Substitute Teaching.
          </p>
        </div>
      </div>
    </div>
  </span>
</div>

<div class="container-fluid p-0 m-0 col-12 col-sm-12 col-md-13 col-lg-12 col-xl-12 container-box Services apply">
  <span class="foreground-box">
    <div class="row col-12 p-0 m-0">
      <label class="col-12 d-flex justify-content-center align-items-center pt-5 mt-5">
        <!-- <label class="col-12 d-flex justify-content-center align-items-center "> -->
          <a href="https://isscompanies.oorwin.com/careers/index.html#/job/6c1e671f9af5b46d9c1a52067bdf0e53685674f7?share=4"
            target="_blank" class="buttonLink">
            Apply Now
          </a>
        <!-- </label> -->
      </label>

    </div>

  </span>
</div>

<div class="container-fluid p-0 m-0 col-12 col-sm-12 col-md-13 col-lg-12 col-xl-12 container-box Services" id="faq">
  <span class="foreground-box">
    <div class="row col-12 p-0 m-0">
      <label class="col-12 d-flex justify-content-center align-items-center pt-5 mt-5">
        <h1> FAQ</h1>
      </label>
    </div>

    <div class="container section-bg faq-section">
      <div class="row justify-content-center">

        <div class="col-md-10 ">

          <div class="faq" id="accordion">
            <div class="card">
              <div class="card-header" id="faqHeading-1">
                <div class="mb-0">
                  <h5 class="faq-title" data-bs-toggle="collapse" data-bs-target="#faqCollapse-1"
                    data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                    <span class="badge">1</span>Does STS currently have open positions?
                  </h5>
                </div>
              </div>
              <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
                <div class="card-body">
                  <p>Yes. We have immediate openings for daily and long term substitute positions.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="faqHeading-2">
                <div class="mb-0">
                  <h5 class="faq-title" data-bs-toggle="collapse" data-bs-target="#faqCollapse-2"
                    data-aria-expanded="false" data-aria-controls="faqCollapse-2">
                    <span class="badge">2</span> Where can I substitute teach with STS?
                  </h5>
                </div>
              </div>
              <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2" data-parent="#accordion">
                <div class="card-body">
                  <p>STS employees can substitute teach in any of our partner schools within your state</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="faqHeading-3">
                <div class="mb-0">
                  <h5 class="faq-title" data-bs-toggle="collapse" data-bs-target="#faqCollapse-3"
                    data-aria-expanded="false" data-aria-controls="faqCollapse-3">
                    <span class="badge">3</span>How many partner schools does STS have?
                  </h5>
                </div>
              </div>
              <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3" data-parent="#accordion">
                <div class="card-body"> 
                  <p>STS currently has several hundred partner schools.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="faqHeading-4">
                <div class="mb-0">
                  <h5 class="faq-title" data-bs-toggle="collapse" data-bs-target="#faqCollapse-4"
                    data-aria-expanded="false" data-aria-controls="faqCollapse-4">
                    <span class="badge">4</span> What credentials do I need in order to be a substitute teacher?
                  </h5>
                </div>
              </div>
              <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4" data-parent="#accordion">
                <div class="card-body">
                  <p>Background check and education requirements are specific to each state and school district.
                    Please review your state’s requirements in the drop down tab above,
                    and contact <a href="">work@isscompanies.com</a> with any additional questions.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </span>
</div>

<!-- <div>


  <div id="job" class="job">
    <div class="container" data-aos="zoom-in">


    </div>
  </div>

  <section id="perks">
    <div class="container">
      <h2 class="text-center">
        Job Perks
      </h2>
      <div class="row pb-4">
        <div class="col-12 py-4">
          <p class="text-center py-4">
            With STS, you are a valued member of a team, and your teammates are here to support you!
            We offer competitive pay rates, one-on-one guidance, and effective professional development
            to ensure that our staff members are engaged and effective.
          </p>

          <h3>
            Competitive Pay Rates
          </h3>
          <p class="pb-2 pb-md-4">
            STS offers competitive pay rates in order to employ high quality substitute teachers,
            and meet the needs of our partner school districts. STS employees are paid weekly.
          </p>

          <h3>
            Create Your Own Schedule
          </h3>
          <p class="pb-2 pb-md-4">
            Decide when and where you would like to work with our web-based absence management
            system that will show open assignments 24 hours a day and 7 days a week.
            See an open position that you would like to work? Simply click Accept!
            You are free to choose between part time work, which generally require availability
            for the entire days that you choose, but you don’t have to work each day or you may
            choose to work with us full time. Candidates with the proper experience and qualifications
            may be assigned to full time classroom teacher positions and take responsibility for classroom leadership.
            These positions generally are paid more for the additional responsibilities.
          </p>

          <h3>
            Make A Difference
          </h3>
          <p class="pb-2 pb-md-4">
            STS Substitute Teachers make a difference in the lives of the students and staff they work with, each and
            every day.
          </p>

          <h3>
            Learn & Grow
          </h3>
          <p class="pb-2 pb-md-4">
            With the STS Substitute Training Institute, you will have access to the professional
            development you need to build confidence and reach your goals.
          </p>

        </div>
      </div>
    </div>

  </section>

  <section id="faq" class="section-bg faq-section">

    <div class="container">
      <div class="row">

        <div class="col-md-6 offset-md-3">

          <div class="faq-title text-center pb-3">
            <h2>FAQ</h2>
          </div>
        </div>
        <div class="col-md-10 ">
          <div class="faq" id="accordion">
            <div class="card">
              <div class="card-header" id="faqHeading-1">
                <div class="mb-0">
                  <h5 class="faq-title" data-bs-toggle="collapse" data-bs-target="#faqCollapse-1"
                    data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                    <span class="badge">1</span>Does STS currently have open positions?
                  </h5>
                </div>
              </div>
              <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
                <div class="card-body"> <span class="">Ans:- </span>
                  <p>Yes. We have immediate openings for daily and long term substitute positions.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="faqHeading-2">
                <div class="mb-0">
                  <h5 class="faq-title" data-bs-toggle="collapse" data-bs-target="#faqCollapse-2"
                    data-aria-expanded="false" data-aria-controls="faqCollapse-2">
                    <span class="badge">2</span> Where can I substitute teach with STS?
                  </h5>
                </div>
              </div>
              <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2" data-parent="#accordion">
                <div class="card-body"> <span class="">Ans:- </span>
                  <p>STS employees can substitute teach in any of our partner schools within your state</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="faqHeading-3">
                <div class="mb-0">
                  <h5 class="faq-title" data-bs-toggle="collapse" data-bs-target="#faqCollapse-3"
                    data-aria-expanded="false" data-aria-controls="faqCollapse-3">
                    <span class="badge">3</span>How many partner schools does STS have?
                  </h5>
                </div>
              </div>
              <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3" data-parent="#accordion">
                <div class="card-body"> <span class="">Ans:- </span>
                  <p>STS currently has several hundred partner schools.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="faqHeading-4">
                <div class="mb-0">
                  <h5 class="faq-title" data-bs-toggle="collapse" data-bs-target="#faqCollapse-4"
                    data-aria-expanded="false" data-aria-controls="faqCollapse-4">
                    <span class="badge">4</span> What credentials do I need in order to be a substitute teacher?
                  </h5>
                </div>
              </div>
              <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4" data-parent="#accordion">
                <div class="card-body"> <span class="">Ans:- </span>
                  <p>Background check and education requirements are specific to each state and school district.
                    Please review your state’s requirements in the drop down tab above,
                    and contact <a href="">work@isscompanies.com</a> with any additional questions.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

</div>  -->