<div class="container" id="rock">
    <div class="row d-flex text-inline-center justify-content-center">
        <div class="col">
            <h2 class="text-dark">Stellar Payroll Specialist</h2>
        </div>
    </div>
</div>

<div class="container py-4" id="rock-content">
    <div class="row d-flex justify-content-around pt-4">

        <div class="col col-12 col-md-5 pb-2 info font-text">

            <h3 class="py-0 py-md-3 text-center">Details of the Job</h3>

            <div class="row pt-4 pb-3">
                <div class="col-12 col-md-5">
                    <!-- <input type="text" name="name" class="form-control" id="fname" placeholder="Your First name"
                        required> -->
                        <label>Job Tittle &nbsp; :</label>
                </div>
                <div class="col col-12 col-md-7">
                    <!-- <input type="text" class="form-control" name="lname" id="lname" placeholder="Your Lastname"
                        required> -->
                         <label>Stellar Payroll Specialist</label>
                </div>

            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-5">
                    <!-- <input type="text" name="name" class="form-control" id="fname" placeholder="Your First name"
                        required> -->
                        <label>Job Description &nbsp; :</label>
                </div>
                <div class="col col-12 col-md-7 ">
                    <!-- <input type="text" class="form-control" name="lname" id="lname" placeholder="Your Lastname"
                        required> -->
                        <p>We are looking for candidates who are dedicated to the educational growth of our young students of today.</p>
                </div>

            </div>
            <div class="row  d-flex justify-content-center">
                <div class="col-12 col-md-5">
                    <!-- <input type="text" name="name" class="form-control" id="fname" placeholder="Your First name"
                        required> -->
                        <label>Job Requirements &nbsp; :</label>
                </div>
                <div class="col col-12 col-md-7 ">
                    <!-- <input type="text" class="form-control" name="lname" id="lname" placeholder="Your Lastname"
                        required> -->
                        <ul>
                            <li>
                                Minimum of 60 College Credits from an accredited college or university (any Major)
                            </li>
                            <li>
                                Minimum of a 2.0 standing GPA
                            </li>
                        </ul>
                </div>

            </div>
            <div class="row pt-2 d-flex justify-content-center">
                <div class="col-12 col-md-5">
                    <!-- <input type="text" name="name" class="form-control" id="fname" placeholder="Your First name"
                        required> -->
                        <label> Closing data &nbsp;:</label>
                </div>
                <div class="col col-12 col-md-7 ">
                    <!-- <input type="text" class="form-control" name="lname" id="lname" placeholder="Your Lastname"
                        required> -->
                </div>

            </div>

        </div>

        <div class="col col-12 col-md-5 pb-md-4 pb-2 info font-text">

            <h3 class="py-0 py-md-3 text-center">Apply for this Job</h3>

            <div class="row py-2 px-2 d-flex justify-content-center ">
                <div class="col-12 col-md-4 form-group">
                    <!-- <input type="text" name="name" class="form-control" id="fname" placeholder="Your First name"
                        required> --><label class="font-text">Name :</label>
                </div>
                <div class="col col-12 col-md-7 form-group">
                    <input type="text" class="form-control font-text" name="lname" id="lname" placeholder="Enter your Name"
                        required>
                </div>

            </div>
            <div class="row py-2 px-2 d-flex justify-content-center">
                <div class="col-12 col-md-4 form-group">
                    <!-- <input type="text" name="name" class="form-control" id="fname" placeholder="Your First name"
                        required> -->
                        <label class="font-text">Phone :</label>
                </div>
                <div class="col col-12 col-md-7 form-group">
                    <input type="text" class="form-control font-text" name="lname" id="lname" placeholder="Enter your Number"
                        required>
                </div>

            </div>
            <div class="row py-2 px-2 d-flex justify-content-center">
                <div class="col-12 col-md-4 form-group">
                    <!-- <input type="text" name="name" class="form-control" id="fname" placeholder="Your First name"
                        required> -->
                        <label class="font-text">Email :</label>
                </div>
                <div class="col col-12 col-md-7 form-group">
                    <input type="text" class="form-control font-text" name="lname" id="lname" placeholder="Enter your Email"
                        required>
                </div>

            </div>
            <div class="row py-2 px-2 d-flex justify-content-center">
                <div class="col-12 col-md-4 form-group">
                    <!-- <input type="text" name="name" class="form-control" id="fname" placeholder="Your First name"
                        required> -->
                        <label class="font-text">Qualification :</label>
                </div>
                <div class="col col-12 col-md-7 form-group">
                    <input type="text" class="form-control font-text" name="lname" id="lname" placeholder="Enter your Qualification"
                        required>
                </div>

            </div>

            <div class="row py-2 px-2 d-flex justify-content-center">
                <div class="col-12 col-md-4 form-group">
                    <!-- <input type="text" name="name" class="form-control" id="fname" placeholder="Your First name"
                        required> -->
                        <label class="font-text">Attach CV :</label>
                </div>
                <div class="col col-12 col-md-7 form-group">
                    <input type="file" class="form-control font-text" name="lname" id="lname" placeholder=""
                        required>
                </div>

            </div>

            <div class="text-center pt-3"><button type="submit" class="border-none">Submit</button></div>

            <!-- <div class="row py-2 px-2 w-50 text-center d-flex justify-content-center">
                <button type="submit" >Submit</button>
            </div> -->

        </div>

    </div>
</div>