
 <section id="school" class="">
  <div class="school">
    <div class="container" data-aos="zoom-in">
 
    </div>
  </div>
</section>

<section id="vedio" class="container mt-5">
  <!-- <vedio src="./assets/vedio/What is Sub Teacher Source_.mp4" title="YouTube video player" controls loop="loop"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">
  </vedio> -->

  <video playsinline="playsinline"  [muted]="'muted'" controls loop="loop">
    <source src="../../../assets/vedio/What is Sub Teacher Source_.mp4" type="video/mp4">
  </video>

</section>

<div class="container-fluid p-0 m-0 col-12 col-sm-12 col-md-13 col-lg-12 col-xl-12 container-box Services" id="guarantee">
  <span class="foreground-box">
    <div class="row col-12 p-0 m-0">
      <label class="col-12 d-flex justify-content-center align-items-center pt-5 mt-5">
        <h1> STS Guarantee </h1>

      </label>

    </div>

    <div class="container col-12 col-md-10 py-4">

      <div class="row d-flex justify-content-center align-items-center">

        <div class="col-12 col-md-11 orderParaTwo pb-0 pb-md-4">

          <h2 class="pt-2 pt-md-5">Saving Your Time and Energy</h2>

          <p class="text-justify py-4">
            Become a Substitute Teacher with Sub Teacher Source
            Earn up to $190 per day!
            100 Immediate openings available now in Wayne County, MI
            Locations: Detroit, Dearborn, Westland, Garden City, Redford, Lincoln Park, Hamtramck, Highland Park, Flat
            Rock, Harper Woods
            We are looking for candidates who are dedicated to the educational growth of our young students of today. If
            you love helping students grow and learn, substitute teaching may be for you.
            We offer flexible working schedules during the school’s calendar year. Our subs will have access to our
            online scheduling system where they can virtually accept assignments and track their work history.
            Sub Teacher Source follows (minimum) the State of Michigan guidelines for Substitute Teaching.
          </p>
        </div>
      </div>

      <div class="row d-flex justify-content-center align-items-center">

        <div class="col-12 col-md-11 orderParaTwo pb-0 pb-md-4">

          <h2 class="pt-2">High Quality Substitute Teachers</h2>

          <p class="text-justify py-4">
            STS substitute teachers participate in pre-hire and ongoing professional development through our Substitute Training Institute.
          </p>
        </div>
      </div>

      <div class="row d-flex justify-content-center align-items-center">

        <div class="col-12 col-md-11 orderParaTwo pb-0 pb-md-4">

          <h2 class="pt-2">Meeting Your Staffing Needs</h2>

          <p class="text-justify py-4">
            The STS placement team, includes a number of certified teachers and former administrators who understand your needs, first hand.
             With our expertise and dynamic work ethic, STS will improve your substitute request fill rate.
          </p>
        </div>
      </div>

      <div class="row d-flex justify-content-center align-items-center">

        <div class="col-12 col-md-11 orderParaTwo pb-0 pb-md-4">

          <h2 class="pt-2">Customer Service</h2>

          <p class="text-justify py-4">
            Your STS Account Manager and our placement team will work together to ensure that your needs are met. 
            The STS customer service department is available Monday- Friday 6:00am – 6:00pm.
          </p>
        </div>
      </div>


    </div>
  </span>
</div>


<div class="container-fluid p-0 m-0 col-12 col-sm-12 col-md-13 col-lg-12 col-xl-12 container-box Services" id="experience">
  <span class="foreground-box">
    <div class="row col-12 p-0 m-0">
      <label class="col-12 d-flex justify-content-center align-items-center pt-3 mt-3">
        <h1> A New Staffing Experience </h1>

      </label>

    </div>

    <div class="container col-12 col-md-10 py-4">

      <div class="row d-flex justify-content-center align-items-center">

        <div class="col-12 col-md-11 orderParaTwo pb-0 pb-md-4">

          <h2 class="pt-2 pt-md-5">As Educators and Administrators, We Understand Your Needs</h2>

          <p class="text-justify py-4">
            STS is proud to be a stakeholder in the success of our partner schools. 
            STS fills your staffing needs with professional, 
            effective substitute teachers while saving you time and energy.
          </p>
        </div>
      </div>

      <div class="row d-flex justify-content-center align-items-center">

        <div class="col-12 col-md-11 orderParaTwo pb-0 pb-md-4">

          <h2 class="pt-2">Substitute Training Institute</h2>

          <p class="text-justify py-4">
            STS substitute teachers participate in pre-hire and ongoing professional development through our Substitute Training Institute.
          </p>
        </div>
      </div>

      <div class="row d-flex justify-content-center align-items-center">

        <div class="col-12 col-md-11 orderParaTwo pb-0 pb-md-4">

          <h2 class="pt-2">Meeting Your Staffing Needs</h2>

          <p class="text-justify py-4">
            STS substitutes are trained in classroom management, positive behavior intervention, effective teaching strategies, and many more critical topics.
          </p>
        </div>
      </div>

      <div class="row d-flex justify-content-center align-items-center">

        <div class="col-12 col-md-11 orderParaTwo pb-0 pb-md-4">

          <h2 class="pt-2">STS Offers Year Round Active Recruitment</h2>

          <p class="text-justify py-4">
            STS has a dynamic and experienced recruitment team working to ensure that your staffing needs are met.
             Out team targets candidates based on your geographic area, and actively recruits to meet your needs.
              Our recruiters are sensitive to the ordering pattern of our clients and actively and continuously 
              recruit to maintain an adequate base of available staff. We designate what staff are qualified for 
              classroom positions and only those staff members can be placed in those assignments.
               STS has been very successful in securing candidates with prior teaching experience or 
               candidates with youth group leadership experiences in their history. 
            We always are looking to connect with those qualified candidates who have a heart for teaching.
          </p>
        </div>
      </div>


    </div>
  </span>
</div>


<div class="container-fluid p-0 m-0 col-12 col-sm-12 col-md-13 col-lg-12 col-xl-12 pb-0 pb-4 container-box Services" id="faq">
<span class="foreground-box">
  <div class="row col-12 p-0 m-0">
    <label class="col-12 d-flex justify-content-center align-items-center pt-5 mt-5">
      <h1> FAQ</h1>
    </label>
  </div>

  <div class="container section-bg faq-section">
    <div class="row justify-content-center">
     
      <div class="col-md-10 ">
        <div class="faq" id="accordion">
          <div class="card">
            <div class="card-header" id="faqHeading-1">
              <div class="mb-0">
                <h5 class="faq-title" data-bs-toggle="collapse" data-bs-target="#faqCollapse-1"
                  data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                  <span class="badge">1</span>Why should I partner with STS?
                </h5>
              </div>
            </div>
            <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
              <div class="card-body"> <span class="">Ans:- </span>
                <p>As a stakeholder invested in your success, STS will actively recruit high quality substitute
                  teachers for your school district.
                  Our substitute teachers participate in our unique training program. Your local account manager will
                  be available to
                  coordinate with your administration and ensure your needs are met.
                  With an administrative team of certified teachers and former administrators, we understand your
                  needs, first hand.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-2">
              <div class="mb-0">
                <h5 class="faq-title" data-bs-toggle="collapse" data-bs-target="#faqCollapse-2"
                  data-aria-expanded="false" data-aria-controls="faqCollapse-2">
                  <span class="badge">2</span>Will STS improve my fill rate?
                </h5>
              </div>
            </div>
            <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2" data-parent="#accordion">
              <div class="card-body"> <span class="">Ans:- </span>
                <p>STS is proud to improve the fill rates of our partner school districts.
                  Whether you are currently handling your staffing needs in-house or you currently
                  have a primary staffing agency, STS can help to improve your fill rate. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-3">
              <div class="mb-0">
                <h5 class="faq-title" data-bs-toggle="collapse" data-bs-target="#faqCollapse-3"
                  data-aria-expanded="false" data-aria-controls="faqCollapse-3">
                  <span class="badge">3</span>How do I place I sub request with STS?
                </h5>
              </div>
            </div>
            <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3" data-parent="#accordion">
              <div class="card-body"> <span class="">Ans:- </span>
                <p>Our partner schools can access the STS online absence management system from any device, anytime,
                  anywhere.
                  This STS system makes it easier than ever to connect to high quality substitute teachers. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-4">
              <div class="mb-0">
                <h5 class="faq-title" data-bs-toggle="collapse" data-bs-target="#faqCollapse-4"
                  data-aria-expanded="false" data-aria-controls="faqCollapse-4">
                  <span class="badge">4</span>Does your system track the attendance of substitutes in my school
                  district?
                </h5>
              </div>
            </div>
            <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4" data-parent="#accordion">
              <div class="card-body"> <span class="">Ans:- </span>
                <p>Yes. STS manages the timesheets of all substitute teachers working within your district. Each
                  Friday,
                  with the click of a button, you can approve and submit the timesheets which have been prepared for
                  each of your substitute teachers.</p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="faqHeading-4">
              <div class="mb-0">
                <h5 class="faq-title" data-bs-toggle="collapse" data-bs-target="#faqCollapse-4"
                  data-aria-expanded="false" data-aria-controls="faqCollapse-4">
                  <span class="badge">5</span>Will I pay the substitute teachers, or will STS pay the substitute
                  teachers in my district?
                </h5>
              </div>
            </div>
            <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4" data-parent="#accordion">
              <div class="card-body"> <span class="">Ans:- </span>
                <p>STS pays and handles all payroll responsibilities for each substitute placed in your school
                  district. </p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="faqHeading-4">
              <div class="mb-0">
                <h5 class="faq-title" data-bs-toggle="collapse" data-bs-target="#faqCollapse-4"
                  data-aria-expanded="false" data-aria-controls="faqCollapse-4">
                  <span class="badge">6</span>Do STS substitutes undergo a background check?
                </h5>
              </div>
            </div>
            <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4" data-parent="#accordion">
              <div class="card-body"> <span class="">Ans:- </span>
                <p>Yes. STS substitutes are screened and cleared before they are able to work for STS based on state
                  and school district requirements.</p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="faqHeading-4">
              <div class="mb-0">
                <h5 class="faq-title" data-bs-toggle="collapse" data-bs-target="#faqCollapse-4"
                  data-aria-expanded="false" data-aria-controls="faqCollapse-4">
                  <span class="badge">7</span>I would like to discuss partnering with STS. What should I do now?
                </h5>
              </div>
            </div>
            <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4" data-parent="#accordion">
              <div class="card-body"> <span class="">Ans:- </span>
                <p>To learn more, please click ‘Contact Us’ at the top of the page and fill out the contact form.
                  Our team will arrange a meeting with you to begin meeting your needs.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</span>
</div>





