<footer id="footer" class="footer-bottom">
    <div class="container footer-bottom clearfix ">
        <div class="col-12 col-md-3 copyright">
            &copy; Copyright <strong><span>2021</span></strong>- Sub Teacher Source
        </div>
        <div class="col-12 col-md-3 text-center copyright">
            <a class="" href="https://subteachersource.com/Help/TermsAndConditions.html">Terms & Conditions </a>
        </div>
        <div class="col-12 col-md-3 text-center copyright">
            <strong><span>Contact</span></strong>: 877-356-3450
        </div>

        <div class="col-12 col-md-3 text-center credits">
            <strong><span>Address</span></strong>
            <h5>Sub Teacher Source</h5>
            24901 Northwestern Highway
            Suite 400
            Southfield, MI 48075
        </div>
    </div>
</footer>

<!-- <div class="row">
    <div class="back-to-top d-flex align-items-center justify-content-center" id="nav_up">
            <i class="fas fa-rocket"></i>
            <i class="bi bi-arrow-up-short"></i>
    </div>
</div> -->


<!-- <div id="preloader"></div> -->
<!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a> -->