<section id="about" class="">
  <div class="about">
    <div class="container" data-aos="zoom-in">
      <h2 class="text-center pb-0 pb-md-4" style="color: antiquewhite; font-size:30px">About Us</h2>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-10 text-center">
           <p class="text-center" style="color: antiquewhite;"> Sub Teacher Source (STS) is a National Educational Staffing Agency connecting high quality
            substitute teachers to public, private, and charter schools in need. Our state of the art
            absence management system makes it easier than ever for schools and substitute teachers to connect for order
            fulfillment,
            manage time sheets and substitute payment, and successfully complete compliance requirements reporting.</p>
        </div>
      </div>

    </div>
  </div>
</section>


<div class="container-fluid p-0 m-0 col-12 col-sm-12 col-md-13 col-lg-12 col-xl-12 container-box Services" id="subTeams">
  <span class="foreground-box justify-content-center align-items-center">
    <div class="row col-12 p-0 m-0">
      <label class="col-12 d-flex justify-content-center align-items-center pt-5 mt-5">
        <h1> STS Team </h1>
      </label>

    </div>

    <div class="container col-12 col-md-10 py-3">

      <div class="row d-flex justify-content-center align-items-center">

        <div class="col-12 col-md-11 orderParaTwo pb-0 pb-md-4">

          <p class="text-center py-4">
            With over 40 years of staffing experience, we have placed thousands and thousands of people.
            We approach each opportunity that we have with tenacity and a mission to fill each and every
            order possible. Our internal staff that includes certified teachers and former administrators
            who know what it feels like to be short-staffed and without many options. Our company motto is
            “Together Exceeding Expectations”. We make this a part of how we approach our daily duties and
            our long term strategic projects. We keep our company motto in mind as we work with our client
            partners as well as our substitute teachers.
          </p>

      
        </div>
      </div>
    </div>
  </span>
</div>


<div class="container-fluid p-0 m-0 col-12 col-sm-12 col-md-13 col-lg-12 col-xl-12 container-box Services" id="Partner">
  <span class="foreground-box">
    <div class="row col-12 p-0 m-0">
      <label class="col-12 d-flex justify-content-center align-items-center pt-5 mt-5">
        <h1> Partner Testimonials</h1>
      </label>

    </div>

    <div class="container col-12 col-md-10 py-3">

      <div class="row d-flex justify-content-center align-items-center">

        <div class="col-12 col-md-11 orderParaTwo pb-0 pb-md-4">

          <p class="text-center py-4">
            “When our school experienced a loss of two teachers, STS provided long term quality replacements immediately. 
            They are at the top of my list when I need a staffing company that is highly committed to service.”
          </p>

          <div>
            <div class="col-12 pb-3">
              <h2> Partner School - Principal</h2>
            </div>
            <div class="col-12 text-justify">
              <p>
                “STS came to the table of our district with an eagerness and willingness to serve the district with its need for substitute teachers. 
                Their teachers work hard and have committed to excellence; the subs came professional, prepared, and ready for each task that was given.”
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-11 orderParaTwo">
          <div>
            <div class="col-12 pb-3">
              <h2>Partner School - Superintendent Executive Assistant</h2>
            </div>
            <div class="col-12 text-justify">
              <p>
                “I want to point out that STS is an extremely reliable company. The placement specialists are always 
                pleasant and willing to go the extra mile to assist you. I can call them at a moment’s notice,
                 and they are ready to accommodate us with a substitute teacher that will fit our school community.”
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-11 orderParaTwo">
          <div>
            <div class="col-12 pb-3">
              <h2> Partner School - Substitute Scheduler</h2>
            </div>
            <div class="col-12 text-justify">
              <!-- <p>
                STS Substitute Teachers make a difference in the lives of the students and staff they work with, each
                and
                every day.
              </p> -->
            </div>
          </div>
        </div>

        <!-- <div class="col-12 col-md-11 orderParaTwo">
          <div>
            <div class="col-12 pb-3">
              <h2>Learn & Grow</h2>
            </div>
            <div class="col-12 text-justify">
              <p>
                With the STS Substitute Training Institute, you will have access to the professional
                development you need to build confidence and reach your goals.
              </p>
            </div>
          </div>
        </div> -->

      </div>
    </div>
  </span>
</div>


<div class="container-fluid p-0 m-0 col-12 col-sm-12 col-md-13 col-lg-12 col-xl-12 container-box Services" id="affiliations">
  <span class="foreground-box justify-content-center align-items-center">
    <div class="row col-12 p-0 m-0">
      <label class="col-12 d-flex justify-content-center align-items-center py-5 mt-5">
        <h1> Affiliations </h1>
      </label>

    </div>

    <div class="container col-12 col-md-10 py-3">

      <div class="row d-flex justify-content-center align-items-center">

        <div class="col-12 col-md-6 orderParaTwo pb-0 pb-md-4 justify-content-center">

          <img src="../../../assets/img/image002.jpg" alt="" width="auto" height="100px">
        </div>
        <div class="col-12 col-md-6 orderParaTwo pb-0 pb-md-4 justify-content-center">

          <img src="../../../assets/img/image003.png" alt="" width="auto" height="100px">
      
        </div>
      </div>
    </div>
  </span>
</div>








<!-- <div>
  <div id="cta" class="cta">
    <div class="container" data-aos="zoom-in">
      <h2 class="text-center pb-0 pb-md-4">About Us</h2>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-9 text-center">

          <p> Sub Teacher Source (STS) is a National Educational Staffing Agency connecting high quality
            substitute teachers to public, private, and charter schools in need. Our state of the art
            absence management system makes it easier than ever for schools and substitute teachers to connect for order
            fulfillment,
            manage time sheets and substitute payment, and successfully complete compliance requirements reporting.</p>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <section id="subTeams">
      <div class="row py-4">
        <h2 class="text-center pb-2 pb-md-4">
          STS Team
        </h2>
        <div class="col">
         
          <p class="text-center text-justify py-2 py-4">
            With over 40 years of staffing experience, we have placed thousands and thousands of people.
            We approach each opportunity that we have with tenacity and a mission to fill each and every
            order possible. Our internal staff that includes certified teachers and former administrators
            who know what it feels like to be short-staffed and without many options. Our company motto is
            “Together Exceeding Expectations”. We make this a part of how we approach our daily duties and
            our long term strategic projects. We keep our company motto in mind as we work with our client
            partners as well as our substitute teachers.
          </p>

        </div>
      </div>
    </section>
  </div>



  <div class="container">
    <section id="Partner">
      <div class="row ">
        <h2 class="text-center pb-2 pb-md-4">
          Partner Testimonials
        </h2>
        <div class="col">
          <p class="text-justify text-center pb-4">
            “When our school experienced a loss of two teachers, STS provided long term quality replacements
            immediately.
            They are at the top of my list when I need a staffing company that is highly committed to service.”
          </p>

          <h4>
            Partner School - Principal
          </h4>

          <p class=" text-justify py-2 py-4">
            “STS came to the table of our district with an eagerness and willingness to serve the district with its need for substitute teachers. 
            Their teachers work hard and have committed to excellence; the subs came professional, prepared, and ready for each task that was given.”
          </p>

          <h4>
            Partner School - Superintendent Executive Assistant
          </h4>

          <p class=" text-justify py-2">
            “I want to point out that STS is an extremely reliable company. 
            The placement specialists are always pleasant and willing to go the extra mile to assist you. 
            I can call them at a moment’s notice, and they are ready to accommodate us with a substitute 
            teacher that will fit our school community.” 
          </p>

          <h4 class="pb-4">
            Partner School - Substitute Scheduler
          </h4>

      

        </div>


      </div>
    </section>
  </div>


  <div class="container">
    <section id="affiliations">
      <h2 class="text-center pb-2 pb-md-4">
        Affiliations 
      </h2>
      <div class="row py-4 d-flex justify-content-between align-">

        <div class="col-12 col-md-6">
        <img src="../../../assets/img/image002.jpg" alt="" width="300px" height="100px">
        </div>
        <div class="col-12 col-md-6">
          <img src="../../../assets/img/image003.png" alt="" width="300px" height="100px">
        </div>
      </div>
    </section>
  </div>


</div> -->