<!-- <div id="news" class="news section-bg">
    <div class="row d-flex justify-content-center section-bg" data-aos="fade-up">

      <div class="row d-flex justify-content-center section-title section-bg">
        <div class="col col-md-10">
          <h2>STS in the press</h2>
          <p>Keep up with our latest media coverage, press releases, and more using the archive below.</p>
        </div>
      </div>

      <div class="p-0 m-0">
        <div class="row">
          <div class="col-8">col-8</div>
          <div class="col-4">col-4</div>
        </div>
      </div>

    </div>
</div> -->

<div id="news" class="news">
  <div class="container">
    <div class="row  d-flex justify-content-center py-0 py-md-3">
      <div class="col col-md-10">
        <h2 class="text-center">STS in the press</h2>
        <p class="text-center">Keep up with our latest media coverage, press releases, and more using the archive below.</p>
      </div>
    </div>

    <div class="row py-0 py-md-4 d-flex justify-content-around">
      <div class="col-7 py-0 py-4 ">
        <div class="border-cnt">
          <div class=" container col pb-0 pt-0 pt-md-4 pb-md-3 text-center">
            <img src="../../../assets/img/news1.jpg" width="auto" height="300px" alt="news1" class="img-fluid">
          </div>
          <div class="col bg-light py-0 py-md-3">
            <p class="text-p px-0 px-md-4"> Lebanon Middle School. <span class="text-span">Courtesy of Lebanon School District</span></p>
          </div>
          <div class="col bg-light py-0 text-center pb-0 pb-md-3">
            <p class="text-para px-0 px-md-4"> Many school districts report a daily struggle to put adults in front of students. 
              They have pulled administrators out of offices and into classrooms, canceled professional 
              development sessions and asked teachers to give up planning periods and juggle multiple classes.</p>
          </div>
        </div>

        <div class="border-cnt">
          <div class=" container col pb-0 pt-0 pt-md-4 pb-md-3 text-center">
            <img src="../../../assets/img/new3.jpg" alt="news1" class="img-fluid">
          </div>
          <div class="col bg-light py-0 py-md-3">
            <p class="text-p px-0 px-md-4"> Lebanon Middle School. <span class="text-span">Courtesy of Lebanon School District</span></p>
          </div>
          <div class="col bg-light py-0 text-center pb-0 pb-md-3">
            <p class="text-para px-0 px-md-4"> Many school districts report a daily struggle to put adults in front of students. 
              They have pulled administrators out of offices and into classrooms, canceled professional 
              development sessions and asked teachers to give up planning periods and juggle multiple classes.</p>
          </div>
        </div>
        
        <div class="border-cnt">
          <div class=" container col pb-0 pt-0 pt-md-4 pb-md-3 text-center">
            <img src="../../../assets/img/new2.jpg" width="auto" height="300px" alt="news1" class="img-fluid">
          </div>
          <div class="col bg-light py-0 py-md-3">
            <p class="text-p px-0 px-md-4"> Lebanon Middle School. <span class="text-span">Courtesy of Lebanon School District</span></p>
          </div>
          <div class="col bg-light py-0 text-center pb-0 pb-md-3">
            <p class="text-para px-0 px-md-4"> Many school districts report a daily struggle to put adults in front of students. 
              They have pulled administrators out of offices and into classrooms, canceled professional 
              development sessions and asked teachers to give up planning periods and juggle multiple classes.</p>
          </div>
        </div>
      </div>

      <div class="col-4 bg-light">
        <div class="col py-3">
          <h4 class="text-center">Recent News</h4>
        </div>

        <div class="col d-flex justify-content-center py-md-2 py-0">

          <div class="container cont-side text-center bg-light">
            <div class="col py-4">
              <img src="../../../assets/img/north-cali.jpg" alt="">
            </div>

            <div class="col">
              <h3 class="recent-news">
                GreenDreams Brings 4 New Shows to Smart Healthy Green Living
              </h3>
              <p class="recent-p">
                POSTED ON 10:31 AM
              </p>
            </div>

          </div>
        </div>

        <div class="col d-flex justify-content-center py-md-2 py-0">

          <div class="container cont-side text-center bg-light">
            <div class="col py-4">
              <img src="../../../assets/img/indiana.jpg" alt="">
            </div>

            <div class="col">
              <h3 class="recent-news">
                Advanced Regenerative Therapy Enhances its Cutting-Edge Approach
                 to Health with Prism Light Pod Whole-Body Red Light Therapy
              </h3>
              <p class="recent-p">
                POSTED ON 10:11 AM
              </p>
            </div>

          </div>
        </div>

        <div class="col d-flex justify-content-center py-md-2 py-0">

          <div class="container cont-side text-center bg-light">
            <div class="col py-4">
              <img src="../../../assets/img/south-cali.jpg" alt="">
            </div>

            <div class="col">
              <h3 class="recent-news">
                GreenDreams Brings 4 New Shows to Smart Healthy Green Living
              </h3>
              <p class="recent-p">
                POSTED ON 10:31 AM
              </p>
            </div>

          </div>
        </div>

        <div class="col d-flex justify-content-center py-md-2 py-0">

          <div class="container cont-side text-center bg-light">
            <div class="col py-4">
              <img src="../../../assets/img/missiour.jpeg" alt="">
            </div>

            <div class="col">
              <h3 class="recent-news">
                GreenDreams Brings 4 New Shows to Smart Healthy Green Living
              </h3>
              <p class="recent-p">
                POSTED ON 10:31 AM
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>